<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MobiLeLeLe</title>
    <link href="/css/reset-css.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white">Register User</h2>
    <form class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"
          th:action="@{/users/register}"
          th:method="post"
          th:object="${userModel}">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="firstName">First Name</label>
                <input
                        id="firstName"
                        th:field="*{firstName}"
                        th:errorclass="is-invalid"
                        placeholder="First name"
                        class="form-control"
                        type="text"/>
                <p class="invalid-feedback errors alert alert-danger">
                    First name is required and should be between 2 and 20 symbols.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="lastName">Last Name</label>
                <input
                        class="form-control"
                        id="lastName"
                        th:field="*{lastName}"
                        th:errorclass="is-invalid"
                        placeholder="Last name"
                        type="text"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Last name is required and should be between 2 and 20 symbols.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="email">Email</label>
                <input
                        class="form-control"
                        id="email"
                        th:field="*{email}"
                        th:errorclass="is-invalid"
                        placeholder="Email"
                        type="text"/>
                <div class="invalid-feedback errors alert alert-danger"
                     th:each="err : ${#fields.errors('email')}"
                     th:text="${err}">
                </div>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="password">Password</label>
                <input class="form-control"
                       id="password"
                       th:field="*{password}"
                       th:errorclass="is-invalid"
                       placeholder="Password"
                       type="password"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Password is required and should be at least 5 symbols.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input class="form-control"
                   id="confirmPassword"
                   th:field="*{confirmPassword}"
                   th:errorclass="is-invalid"
                   name="confirmPassword"
                   placeholder="Password"
                   type="password"/>
            <p class="invalid-feedback errors alert alert-danger">
                Passwords should match.
            </p>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input class="btn btn-info btn-lg" type="submit" value="Register"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>
</body>
</html>